{% extends 'store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>Welcome to order, free cancer patch</h5>
            <br>
            <h5>To request a free Ziwei anti-cancer patch, please attach:</h5>
            <p><b>*  </b>copy of cancer certificate</p>
            <p><b>*  </b>Copy of ID card</p>
            <p><b>*  </b> 100-word self-statement</p>
            <p><b>*  </b>Disclaimer, our association is not responsible for any consequences after using patches</p>
            <p><b>*  </b> your email</p>
            <p><b>*  </b> mail to meilan88@gmail.com</p>
            <p>Those who have not been diagnosed with cancer will not be accepted</p>
            <p>     Every patient is welcome to communicate in the language you are familiar with about the cancer you care about</p>
            <p>Each time we send 4 sheets of cold and 4 sheets of heat to you, it can be used for 70 days. In the future, as long as you write 100 words of experience and send it to the mailbox, you can get another gift. After every 140 days, you need to attach the laboratory report to continue to receive the gift</p>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="static/useimage/patch.jpeg" class="w-100" />
                        <a href="cart" class="btn btn-primary mt-2">Get It</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}