{% extends 'store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">

         {% for data in category %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="{{ data.image.url }}" class="w-100" />

                        <h5 class="card-title">{{data.name}}</h5>
                        <a href="{% url 'type' data.slug %}" class="btn btn-primary">Go {{data.name}}</a>
                    </div>
                </div>
            </div>

         {% endfor %}

    </div>
</div>
{% endblock content %}