{% extends 'store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>How to use patches</h5>
            <br>
            <p>After getting the 20cm X 5cm patch, please cut it into a small sheet of 2cm X 5cm. Please watch the video for how to use it</p>
            <p>         You can tear it off from the short side and fix it first, then tear off the long side and stick it on the acupuncture point, and finally tear off the support film on it. Each small sticker can be used for 7-10 days. If you stick it for a long time, you will be allergic, so you don’t need to stick the original one. place, paste it near the acupoints, the same effect</p>
            <br>
            <p><b>*  </b>4 acupoints - KI 2, SP 6, LR 13 and LU 6</p>
            <p><b>*  </b>Cancer patch are divided into cold and hot stickers, with cold patch on the left and hot patch on the right.</p>
            <div class="container">
            <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use1.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use2.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use3.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use4.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
                <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="static/useimage/patch.jpeg" class="w-100" />

                    </div>
                </div>
            </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <video width="320" height="240" controls>
                        <source src="static/video.mp4" type="video/mp4">
                    </video>
                </div>
            </div>



            </div>

        </div>
    </div>
</div>
{% endblock content %}