{% extends 'chinese-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

<h3>1. 什麼是癌症貼紙？</h3>
            <p> 癌症贴纸是以十餘種草药提取物，以納米透皮技术，将药物經由经络穴位有效率的傳送到癌細胞的器官</p>
            <br>
            <hr>
            <h3>2. 為什麼癌症貼紙有效?</h3>
            <p><b>* </b> 這些藥性能抑制癌細胞的生長，都有臨床科學報道，但還未取得fda的許可</p>
            <p><b>* </b>發明者利用經絡對稱現象，將這些藥物分成寒熱兩組，熱性的貼在右邊穴位，寒性的貼在左邊的穴位，臨床顯示，比混合服用這些草藥好很多</p>
            <br>
            <hr>
            <h3>3 癌症貼紙的成分</h3>
            <p>肉桂 芥子油 苦楝子 青蒿 黃柏 莪術。。。。</p>
            <br>
            <hr>
            <h3>4 癌症貼紙是屬於醫學哲學</h3>
            <p>整体考慮，前人经验累积，臨床表現有效，而找到有效改善疾病的方法</p>
            <br>
            <hr>
            <h3>5. 醫學哲學與醫學科學的差別</h3>
            <p>一個是經驗累積，粗略的臨床統計。一個要求比較精細而不是完全理想的實驗統計。即使你去西医看感冒，他们初步没有使用一系列严谨的仪器检测，也是依据经验个你开药，
科學之一的定義，99.9％的重複率，醫學科學差太遠了，只屬於萌芽科學</p>
            <br>
            <hr>
            <h3>6. 科學的準確度與精確度</h3>
            <p><b>* </b>如果科學的準確度偏差了，那麼它的結果也是偏差的，無論你的精確度如何的好
就如同你有非常精確的來福槍，但是準星瞄錯了，不論如何射擊都打不到靶心。這是60年來各方面科學都突飛猛進，而西醫治療癌症進展非常有限</p>
            <p><b>* </b>的确有人是透過西醫治療好的，同样地有些癌症患者沒經過治療，或者用另類療法治愈的也有一部分的</p>
            <br>
            <hr>
            <h3>癌症的两个错误观念</h3>
            <p>第一是，癌症细胞是本身细胞因化学环境的改变而产生的突變，不是由外界传染，或者本身癌细胞會移动到別處。用传染或轉移这个字就是一个错误的觀念。一旦某處得了癌症，全身都是癌细胞，只是脆弱的地方长得比较快，其他器官检测不到，不表示没有癌細胞，是因为儀器精度不够。所以当一个人得了肝癌，以后过了三个月又得了肺癌，说是转移到肺部。这是错的，它們是同步生长成了肺癌</p>
            <p>第二个错误的观点，是癌细胞切雖然除了，但它生理的化学环境並没有改变。就像你摘光了樹上的橘子，明年一样会生橘子。注射化学药品如同化学疗法，那么橘子全掉落了，枝葉叶子也死去，整棵樹也就枯死了，这就是化疗的现象</p>
            <p>医学哲学的方法是注射落果劑，只有果子会掉，或果子生长不出来，其他的枝叶仍然繁茂，这就是医学哲学的方法。西医萌芽科学的化疗以及切除手術，是解決结果而沒有解决原因</p>

        </div>
    </div>
</div>
            {% endblock content %}