{% extends 'store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">

<h3>1. What are cancer patch?</h3>
<p>Cancer patch are based on more than ten kinds of herbal extracts, and use nano-transdermal technology to efficiently deliver drugs to cancer cells through meridian points</p>
<br>
<hr>
<h3>2. Why do cancer patch work?</h3>
            <p><b>*</b> The ability of these drugs to inhibit the growth of cancer cells has been reported in clinical science, but has not yet obtained the permission of the FDA</p>
<p><b>*</b> The inventor used the phenomenon of meridian symmetry to divide these medicines into cold and hot groups. The hot ones are pasted on the right acupoints, and the cold ones are pasted on the left acupoints. Clinically, it is much better than taking these herbs together</p>
<br>
<hr>
<h3>3. Composition of cancer patch?</h3>
<p>Cinnamon Mustard, Neem Seed Artemisia Annua Phellodendron Curcuma. . . .</p>
<br>
<hr>
<h3>4 cancer patch that belong to the philosophy of medicine?</h3>
<p>Overall consideration, accumulation of previous experience, effective clinical performance, and finding effective ways to improve the disease</p>
<br>
<hr>
<h3>5. Differences between medical philosophy and medical science?</h3>
<p><b>*</b> One is accumulated experience and rough clinical statistics. An experimental statistic that requires more refinement than is entirely ideal. Even if you go to a western doctor to see a cold, they did not use a series of rigorous instrument tests initially, and they prescribe medicine for you based on experience.</p>
<p><b>*</b> One definition of science, 99.9% repetition rate, medical science is too far behind, it only belongs to budding science</p>
<br>
<hr>
<h3>6. Scientific accuracy and precision?</h3>
<p><b>*</b> If the accuracy of science is biased, its results are biased, no matter how good your accuracy is
It's like you have a very accurate rifle, but the front sight is wrong, no matter how you shoot, you can't hit the bullseye. This is 60 years in which all aspects of science have advanced by leaps and bounds, while Western medicine has made very little progress in treating cancer.</p>
<p><b>*</b> It is true that some people are cured by Western medicine. Similarly, some cancer patients have not been treated, or some cancer patients have been cured by alternative treatments.</p>
<br>
<hr>
<h3>Two misconceptions about cancer</h3>
<p>The first is that cancer cells are mutations of their own cells due to changes in the chemical environment, and they are not infected by the outside world, or the cancer cells themselves will move to other places. To use the word contagion or transfer is a misconception. Once there is cancer in a certain place, the whole body is full of cancer cells, but the fragile place grows faster and cannot be detected in other organs. It does not mean that there are no cancer cells, because the precision of the instrument is not enough. So when a person gets liver cancer and then gets lung cancer three months later, it is said to have metastasized to the lungs. That's wrong, they grew in tandem and became lung cancer</p>
<br>
<p>The second erroneous view is that although cancer cells are removed, their physiological and chemical environment has not changed. Just like you picked all the oranges on the tree, next year there will be oranges. Injecting chemicals is like chemotherapy, then all the oranges will fall, the branches and leaves will die, and the whole tree will die. This is the phenomenon of chemotherapy.</p>
<br>
<p>The method of medical philosophy is to inject the fruit drop agent, only the fruit will fall, or the fruit will not grow, and the other branches and leaves will still flourish. This is the method of medical philosophy. Chemotherapy and excision surgery, the budding science of western medicine, solve the result but not the cause</p>

        </div>
    </div>
</div>
            {% endblock content %}