{% extends 'chinese-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>歡迎來信索取，免費癌症貼紙 </h5>
            <br>
            <h5>索取免費紫薇抗癌貼紙，請附上 :</h5>

            <br>
            <p><b>*  </b>罹癌證明影本</p>
            <p><b>*  </b>身分證影本</p>
            <p><b>*  </b> 100字病情自述</p>
            <p><b>*  </b>免責聲明，我們協會不負擔使用貼紙後的任何後果</p>
            <p><b>*  </b> 你的電子郵件信箱</p>
            <p><b>*  </b>郵寄到 meilan88@gmail.com</p>
            <br>
            <br>
            <p>每位患者歡迎使用你們熟悉的語言，在你們關心的癌症交流</p>
            <p>     每次送寒性4大張 熱性4大張，可使用 70天。以後只要寫100字使用心得發哦到郵箱，即可再獲贈一次。每140天後還需要附上化驗報告才能繼續收到贈品</p>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="static/useimage/patch.jpeg" class="w-100" />
                        <a href="chinesecart" class="btn btn-primary mt-2">得到它</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}