{% extends 'chinese-store/layouts/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 about">
            <h4 class="head">關於我們</h4>
            <p>我們是美國山姆神社，坐落在加州洛杉磯，在臺灣有分支機構。提倡非侵入性的癌症防治，免費提供患者癌症貼紙，終身免費。幫助癌症病患。減低痛苦，延長壽命，不花一毛錢。服務全世界5000萬的癌症病患，我們也不接受任何捐款。</p>
            <p class="para">協會創始者蔣臨沂71歲全家五人都得了不同的癌症，四人已經死去，過世家人平均壽命54歲。立志要以他的發明免費幫助全世界的癌症患者。</p>
            <p>膠黏性貼紙含有草藥的有效成分，以納米透皮的科技，貼在相關的穴位上。可將藥物透過經絡的傳遞，達到癌細胞所在，抑制它們的生長。同時發明了對稱貼法，將寒性與熱性的貼紙，貼在對稱經絡的兩邊，讓人的免疫力能吸收這兩類的藥性，自動做有效的利用，比傳統口服混合在一起熬煮的草藥湯汁，更有效果</p>
            <p class="para1">創始者也發明了ww.fatebook.org,透過人的生日資訊，統計分析出人的遺傳缺陷，找到改善的方法。比如這個網站可以立刻找到比爾蓋茨的帕金森病因，用我們專用的貼紙，貼了一周即可看到血液化驗報告明顯的改善</p>
            <p>我們的貼紙可以貼在腳底穴位，半小時立刻退燒，安全有效快速非侵入性，已經有大量的臨床證明</p>
            <h6 class="float-end">Info: gary7302@gmail.com , Watsapp : +1 626 474 4069 , WeChat : gary7302</h6>
        </div>


         {% for data in product %}
            <div class="col-12 col-md-6 col-lg-4">

                <div class="card mt-2 chinese_product_data">
                    <div class="card-body text-center">
<!--                        <h5 class="card-title">{{data.category}}</h5>-->
<!--                        <h3 class="card-text">{{data.name}}</h3>-->
<!--                        <p>Price : {{data.price}}</p>-->
<!--                        <p>Quantity : {{data.quantity}}</p>-->
<!--                        <a href="#" class="btn btn-primary">Add To Cart</a>-->

                            <div class="row">
                            <div class="col-md-7">

                              <img src="{{ data.image.url }}" class="w-100" />
                            </div>
                            <div class="col-md-5">
<!--                                <h5>{{ data.category}}</h5>-->
                                <h6>{{data.name}}</h6>
                                <hr>
                                <p>Price : {{data.price}}Rs</p>
<!--                                <p class="mt-3">{{data.description}}</p>-->
<!--                                {% if data.quantity %}-->
<!--                                <label class="badge bg-success">In Stock</label>-->
<!--                                {% else %}-->
<!--                                <label class="badge bg-danger">Out of Stock</label>-->
<!--                                {% endif %}-->
                                <div class="row mt-2">

                                        <div class="col-md-6">
                                            {% csrf_token %}
                                        <input type="hidden" class="product_id" value="{{ data.id }}">
                                        <label for="quantity">數量</label>
                                        <div class="input-group text-center mb-3" style="width:130px;">
                                            <button class="input-group-text decrement-btn">-</button>
                                            <input type="text" name="quantity" class="form-control qty-input text-center" value="1" >
                                            <button class="input-group-text increment-btn">+</button>
                                        </div>

                                    </div>
                                    </div>
                                    </div>
                                <div class="col-12">
                                    <div class="row">
                                    <div class="col-md-7">
                                        <br/>
                                        {% if data.quantity %}
                                        <button type="submit" class="btn btn-primary chineseAddToCartBtn">添加到購物車</button>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-5">
                                        <br/>
                                        <a class="btn btn-info" href="{% url  'chinesecomment' data.id %}" >評論</a>

                                    </div>

                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
         {% endfor %}

    </div>
</div>

{% endblock content %}
{% block scripts %}

document.querySelectorAll('.chineseAddToCartBtn').forEach(function(element) {
  element.addEventListener('click', function(e) {
    e.preventDefault();
    console.log("click");

    var product_id = this.closest('.chinese_product_data').querySelector('.product_id').value;
    console.log(product_id);
    var product_qty = this.closest('.chinese_product_data').querySelector('.qty-input').value;
    var token = document.querySelector('input[name=csrfmiddlewaretoken]').value;

    var xhr = new XMLHttpRequest();
    xhr.open("POST", '/chinese-add-to-cart', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
      if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
        var response = JSON.parse(xhr.responseText);
        console.log(response);
        alertify.success(response.status);
      }
    };
    var data = {
      'product_id': product_id,
      'product_qty': product_qty,
      'csrfmiddlewaretoken': token
    };
    xhr.send(JSON.stringify(data));
  });
});


{% endblock scripts %}