{% extends 'chinese-store/layouts/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h5>如何使用贴纸</h5>
            <br>
            <p>拿到20公分X 5公分貼紙後請自行裁剪成小張2公分X 5公分，使用方法請看視頻</p>
            <p>     可以從短邊撕開先固定，再來將長邊撕開黏在穴位，最後撕下上面的支撐膜，每小張貼紙可使用7-10天，如果貼久了會過敏，可以不貼原來的地方，改貼到穴位附近，一樣有效果</p>
            <br>
            <p><b>*  </b>4個穴位-然穀穴 三陰交穴 章門穴 孔最穴</p>
            <p><b>*  </b>癌症貼紙分成寒性與熱性，寒性貼在左邊，熱性貼在右邊。</p>
            <div class="container">
            <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use1.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use2.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use3.jpeg" class="w-100" />

                     </div>

                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-3">
                <div class="card mt-2">
                     <div class="card-body text-center">
                        <img src="static/useimage/use4.jpeg" class="w-100" />

                     </div>

                </div>
            </div>
                <div class="col-12 col-md-6 col-lg-4">
                <div class="card mt-2">
                    <div class="card-body text-center">
                        <img src="static/useimage/patch.jpeg" class="w-100" />

                    </div>
                </div>
            </div>
            </div>
                <video width="320" height="240" controls>
                    <source src="static/video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
